@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "My Loan Applications";
}

<div class="container my-5 d-flex justify-content-between align-items-center">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-info-circle"></i> Information
        </div>
        <div class="card-body">
            <a href="#" class="btn btn-primary">Transfer Money</a>
        </div>
    </div>


</div>
