@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "ABC Money Transfer";
}

<style>
    .card {
        outline: none;
        border: none;
    }

    .card:hover {
        cursor: pointer;
    }

    .card-header i {
        font-size: 10rem;
        padding: 2rem;
    }
</style>

<div class="container d-flex justify-content-around align-items-center" style="height: 75vh">

    <a href="/MoneyTransfer/MoneyTransfer" class="card" style="width: 18rem;">
        <div class="card-header d-flex justify-content-center align-items-center custom-bg-dark">
            <i class="fas fa-paper-plane custom-color-white"></i>
        </div>
        <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">Money Transfer</h5>
        </div>
    </a>

    <a href="#" class="card" style="width: 18rem;">
        <div class="card-header d-flex justify-content-center align-items-center custom-bg-dark">
            <i class="fas fa-eye custom-color-white"></i>
        </div>
        <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">Exchange Rates</h5>
        </div>
    </a>

    <a href="#" class="card" style="width: 18rem;">
        <div class="card-header d-flex justify-content-center align-items-center custom-bg-dark">
            <i class="fas fa-file custom-color-white"></i>
        </div>
        <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">Reports</h5>
        </div>
    </a>

</div>
